*{
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}
:root{
     --main-color:#bc9667;
     --secondary-color:rgb(81, 36, 36);
     --text-color:#ead10f;
     --bg-color:#fff; 
}
section{
    padding:  50px 100px;
}

img{
    width: 100%;
}
body{
    color:var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 18px 100px;
    background: var(--secondary-color);
    transition: 0.5s linear;
}
.logo img{
    width: 60px;
}
.navbar{
    display: flex;
}
.navbar a{
    padding: 10px 35px;
    color: var(--bg-color);
    font-size: 1.5rem;
    text-transform:uppercase;
    font-weight: 500;

}
.navbar a:hover{
    background-color: var(--main-color);
    border-radius: 0.2rem;
    transition-property:background-color ;
    transition-duration: 0.5s;
    transition-timing-function: linear;
   
}
.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.content{
    width: 100%;
    position:absolute;
    top:95%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(253, 253, 253);

}

.img-container{
    width: 100%;
    display: flex;
    animation-name: slide;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.img-container img{
    width: 100%;
    height: 100vh;
}
.Home{
    width:100%;
    min-height: 100vh;
    background-color: #bc9667;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    text-align: center;
    gap:1.5rem;
 
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform:translateY(-90%) ;
    text-align: left;

}
.content font{
    font-size: 70px;
    margin-top: 20px;
}
@keyframes slide{
    0%,100%{
        transform: translateX(0);

    }
    25%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-50%);

    }
    75%{
        transform: translateX(-75%);
    }
}



